body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  background-color: #333;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  opacity: 1;
}

nav a.active {
  background-color: #555;
  border-radius: 4px;
  opacity: 1;
}

.theme-dark {
  background-color: #121212;
  color: white;
}

.theme-dark header {
  background-color: #1f1f1f;
}

.contexts {
  display: flex;
  align-items: center;
  gap: 15px;
}
